html { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .tree-view li:last-child: :before {
    height: 12px;
    /* border-left: none: */
  }
}
